body {
    display: block;
    margin: 8px;
}

.divTable {
    display: table;
    width: 100%;
    border-width: 1px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.divTableBody {
    display: table-row-group;
}

.colorRow, .letterRow, .pointsRow {
    display: table-row;
}

.colorCell, .divTableHead, .letterCell, .pointsCell {
    height: 40px;
    width: 6.6%;
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
    padding: 3px 10px;
}

.emptyRow {
    display: table-row;
    height: 10px;
}
