<html>
<head>
    <title>Keer op Keer</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

<div class="divTable">
    <div class="divTableBody">
        <div class="letterRow">
            <div class="letterCell"><p>A</p></div>
            <div class="letterCell"><p>B</p></div>
            <div class="letterCell"><p>C</p></div>
            <div class="letterCell"><p>D</p></div>
            <div class="letterCell"><p>E</p></div>
            <div class="letterCell"><p>F</p></div>
            <div class="letterCell"><p>G</p></div>
            <div class="letterCell"><p>H</p></div>
            <div class="letterCell"><p>I</p></div>
            <div class="letterCell"><p>J</p></div>
            <div class="letterCell"><p>K</p></div>
            <div class="letterCell"><p>L</p></div>
            <div class="letterCell"><p>M</p></div>
            <div class="letterCell"><p>N</p></div>
            <div class="letterCell"><p>O</p></div>
        </div>
        <div class="emptyRow"></div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="colorRow">
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell middleColumn"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
            <div class="colorCell"></div>
        </div>
        <div class="emptyRow"></div>
        <div class="pointsRow">
            <div class="pointsCell"><p>5</p></div>
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>5</p></div>
        </div>
        <div class="pointsRow">
            <div class="pointsCell"><p>3</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>0</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>1</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>2</p></div>
            <div class="pointsCell"><p>3</p></div>
        </div>
    </div>
</div>
<script>

    var name;
    var board;
    var jokers;
    var stars;
    var score;
    var player;


    function getBoard() {
        var xhr = new XMLHttpRequest();
        var data = "name=" + "Job";
        xhr.open('POST', '/getBoard', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.onload = function (ev) {
            player = JSON.parse(xhr.response);
            console.log(player);
            board = player.board;
            jokers = player.jokers;
            stars = player.stars;
            score = player.score;
            name = player.name;
            showBoard();
        };
        xhr.send(data);
    }

    function showBoard() {
        var rows = document.getElementsByClassName("colorRow");
        for (var i = 0; i < rows.length; i++) {
            for (var j = 0; j < rows[i].children.length; j++) {
                rows[i].children[j].style.backgroundColor = board[i][j].colorString;
                if(board[i][j].star){
                    rows[i].children[j].innerHTML = "<i class='fas fa-star fa-2x star'></i>";
                } else {
                    rows[i].children[j].innerHTML = "<div class='insideCircle'></div>";
                }
            }
        }


    }

    getBoard();


</script>

</body>
</html>

