<html>
<head>
<title>Keer op Keer</title>
  <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
                
<div class="divTable">
<div class="divTableBody">
<div class="letterRow">
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
<div class="letterCell"></div>
</div>
<div class="emptyRow"></div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="colorRow">
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
<div class="colorCell"></div>
</div>
<div class="emptyRow"></div>
<div class="pointsRow">
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
</div>
<div class="pointsRow">
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
<div class="pointsCell"></div>
</div>

    </body>
</html>
</div>
</div>
</div>
